<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师</title>
    <link href="../../../static/layui/css/layui.css" rel="stylesheet">
    <script src="../../../static/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <h1 class="layui-icon-fonts" style="color: white; font-size: 30px; margin-left: 30px; float: left">论文管理系统</h1>
        <ul class="layui-nav" style="float: right">
            <li class="layui-nav-item">
                <a href="">帮助</a>
            </li>
        </ul>
    </div>
    <div>
        <div class="layui-side">
            <ul class="layui-nav layui-nav-tree" lay-filter="test" style="height: 100%">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:">关于我的</a>
                    <dl class="layui-nav-child">
                        <dd><a>个人信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:">文件操作</a>
                    <dl class="layui-nav-child">
                        <dd><a>文档提交</a></dd>
                        <dd><a>文件下载</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:">其他功能</a>
                    <dl class="layui-nav-child">
                        <dd><a>题目审核表</a></dd>
                        <dd><a>教师评价成绩与评语</a></dd>
                        <dd><a id="message">系统消息</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div class="layui-tab layui-tab-brief">
            <div class="layui-body layui-tab-content" id="show"  style="font-size: 30px">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                    <legend>让论文管理更加简单</legend>
                </fieldset>
                <blockquote class="layui-elem-quote layui-quote-nm">
                    厚德 明智 博学 力行！
                    <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;——肇院
                </blockquote>
            </div>
        </div>
    </div>
    <div class="layui-footer">
        <div class="layui-main">
            <p>
                第七小组提供技术支持
            </p>
        </div>
    </div>
</div>
<script src="../../../static/layui/layui.js"></script>
<script>
    layui.use(['element','layer'], function () {
        var layer = layui.layer;
        var element = layui.element;
        //一些事件监听
        element.on('nav(test)', function (data) {
            var show = $('#show');
            var val = data.init().context.innerText;
            if (val === '文档提交') {
                show.empty();
                show.append('<iframe src="/teacher/fileOperation" width="100%" height="100%" frameborder="0" scrolling="auto" marginwidth="0"></iframe>')
            } else if (val === '文件下载') {
                show.empty();
                show.append('<iframe src="/teacher/fileDownload" width="100%" height="100%" frameborder="0" scrolling="auto" marginwidth="0"></iframe>')
            }else if (val === '题目审核表') {
                show.empty();
                show.append('<iframe src="/teacher/titleExamine" width="100%" height="100%" frameborder="0" scrolling="auto" marginwidth="0"></iframe>')
            } else if (val === '教师评价成绩与评语') {
                show.empty();
                show.append('<iframe src="/teacher/valuationOfTeacher" width="100%" height="100%" frameborder="0" scrolling="auto" marginwidth="0"></iframe>')
            } else if (val === '个人信息') {
                show.empty();
                show.append('<iframe src="/teacher/myInfo" width="100%" height="100%" frameborder="0" scrolling="auto" marginwidth="0"></iframe>')
            } else if (val.substr(0,4) === '系统消息') {
                var node = $('#message');
                if (node.find('> span').length > 0){
                    node.find('> span').remove();
                }
                show.empty();
                show.append('<iframe src="/teacher/msg" width="100%" height="100%" frameborder="0" scrolling="auto" marginwidth="0"></iframe>')
            }
        });
        //消息通知
        var getMsg = function() {
            var url = '/teacher/hasNewMsg';
            $.get(url,function (data) {
                if (data.success) {
                    if (data.data !== null) {
                        var node = $('#message');
                        if (node.find('> span').length > 0){
                            node.find('> span').remove();
                        }
                        node.append('<span class="layui-badge">' + data.data + '</span>')
                    }
                }
            })
        };
        //定时请求
        setInterval(getMsg, 3000);
    });
</script>
</body>
</html>