<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师论文题目审核表</title>
    <link rel="stylesheet" href="../../../static/layui/css/layui.css">
    <link rel="stylesheet" href="../../../static/css/login.css">
    <script src="../../../static/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="layui-row">
    <div class="layui-col-xs12 layui-col-md7" style="font-size: 15px;">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>教师论文题目审核表</legend>
        </fieldset>
        <div>
            <form class="layui-form" action="#" id="titledata" name="titledata">
                <div class="layui-form-item" id="name">
                    <label class="layui-form-label" style="width: 20%">教师姓名-XXX</label><!-- 教师姓名自动获取，并添加在此处 -->
                </div>
                <div class="layui-form-item" id="department">
                    <label class="layui-form-label" style="width: 20%">论文题目适用学院-XXX学院</label><!-- 学院名称自动获取，并添加在此处 -->
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width: 20%">论文指导题目</label>
                    <div class="layui-input-inline" style="width: 30%">
                        <textarea name="title" rows="10" style="width: 600px" ></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../../../static/layer/layer.js"></script>
<script src="../../../static/layui/layui.js"></script>
<script>
    layui.use(['form','layer'], function () {
        var form = layui.form;
        form.render();
        //表单提交
        form.on('submit(*)', function (data) {
            console.log(data.field);
            var url;
            $.post(url, data.field, function(data){
                if (data.success) {
                    layer.open({
                        title: '提交结果',
                        content: '题目提交成功',
                        time:2000
                    });
                } else {
                    layer.open({
                        title: '提交结果',
                        content: '题目提交失败，请检查您的论文指导题目',
                        time:2000
                    });
                }
            });
            return false;
        })
    });
</script>
</body>
</html>