<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师评价成绩和评语</title>
    <link href="../../../static/layui/css/layui.css" rel="stylesheet">
    <script src="../../../static/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>教师评价成绩和评语</legend>
</fieldset>
<div class="layui-collapse" lay-filter="test">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title" >第一个论文题目</h2>
        <div class="layui-colla-content">
            <p>姓名 - XXX</p> <!-- 动态添加学生名字 -->
            <p>简介 - XXX......</p> <!-- 动态添加论文简介 -->
            <form id="form1" method="post">
                <p>成绩评分</p>
                <div id="test8"></div>
                <p>评语</p>
                <textarea type="t" id="text1" rows="10" style="width:600px;" ></textarea><!-- 评语文本框 -->
                <br>
                <input type="submit" value="确定" class="layui-btn">
                &nbsp;&nbsp;
                <input type="reset" value="清除评语" class="layui-btn">
            </form>
        </div>
    </div>
</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="">填写成绩与评价</a>
</script>
<script src="../../../static/layui/layui.js"></script>
<script>
    //折叠触发功能js，不能删
    layui.use(['element', 'layer'], function(){
        var element = layui.element;
        var layer = layui.layer;
    });
    layui.use('layer', function(){
        layui.use(['rate'], function(){
            var rate = layui.rate;
            rate.render({
                elem: '#test8'
                ,length: 10 //自定义长度
                ,value: 8 //初始值
                ,theme: '#009688'//定义颜色
                ,half: true //定义半星
                ,text: true //文本提示
                ,setText: function(value){
                    this.span.text(value*10+'分'); //分数值
                }
            });
        });
    });
</script>
</body>
</html>