<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../../../static/layui/css/layui.css" rel="stylesheet">
    <script src="../../../static/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend id="msg">我的信息</legend>
</fieldset>
<div >
    <div>
        <form id="select" class="layui-form">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">题目内容</label>
                    <div class="layui-input-inline">
                        <input type="text" id="content" class="layui-input">
                    </div>
                    <label class="layui-form-label">教师名</label>
                    <div class="layui-input-inline">
                        <select name="teacher" id="teacher_list">
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <a class="layui-btn layui-btn-radius layui-btn-primary" lay-submit lay-filter="find">查找</a>
                </div>
            </div>
        </form>
    </div>
    <table id="data_list" lay-filter="choice"></table>
    <script type="text/html" id="bar">
        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看详情</a>
        <a class="layui-btn layui-btn-xs" lay-event="choice">选题</a>
    </script>

</div>
</body>
<script src="../../../static/layui/layui.js"></script>
<script>
    layui.use(['element','util','layer','form','table'], function () {
        var util = layui.util;
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;
        $.ajax({
            url:'/student/time',
            type:'get',
            success: function (data) {
                if (data.success) {
                    if (data.data === 0) {
                        var begin = Date.parse(new Date(data.message));
                        var serverTime = new Date().getTime();
                        showList('', 0);
                        util.countdown(begin, serverTime, function (date, serverTime, timer) {
                            var str = date[0] + '天' + date[1] + '时' + date[2] + '分' + date[3] + '秒';
                            layui.$('#msg').html('距离开始选题还有：' + str);
                            if (date[0] === 0 && date[1] === 0 && date[2] === 0 && date[3] === 0) {
                                $('#msg').text('请选择你心仪的论文题目')
                            }
                        });
                    } else {
                        showList('', 0);
                        $('#msg').text('请选择你心仪的论文题目')
                    }
                } else {
                    if (data.data === -1) {
                        $('#msg').text('选题时间已结束，请到“我的论文”模块查看您选择的题目信息')
                    } else if (data.data === -2) {
                        $('#msg').text('暂无选题信息')
                    } else {
                        $('#msg').text(data.message)
                    }

                }
            }
        });
        table.on('tool(choice)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.open({
                    title: '题目详细信息'
                    ,
                    content: "<div class='layui-text'>题目：<div>&nbsp;&nbsp;&nbsp;&nbsp;" + data.content + "</div></div><br>"
                    + "<div class='layui-text'>题目介绍：<div>&nbsp;&nbsp;&nbsp;&nbsp;" + data.instruction + "</div></div><br>"
                    + "<div class='layui-text'>限制选题人数：&nbsp;&nbsp;&nbsp;&nbsp;" + data.totalNumber + "</div><br>"
                    + "<div class='layui-text'>所属教师：&nbsp;&nbsp;&nbsp;&nbsp;" + data.teacher.name + "</div>"
                });
            } else if (obj.event === 'choice') {
                choice(data.id)
            }
        });
        function showList(content, teacherId) {
            table.render({
                elem:'#data_list'
                ,page:true
                ,url:'/student/title?content=' + content + '&teacherId=' + teacherId
                ,cols: [[
                    {field:'id', width:100, title: '题目编号'}
                    ,{field:'content', width:300, title: '题目内容'}
                    ,{field:'instruction', title: '题目说明'}
                    ,{field:'name', width:150, title: '所属教师', templet:'<div>{{d.teacher.name}}</div>'}
                    ,{field:'totalNumber', title: '限选人数', width: 100}
                    ,{field:'choice', title:'选题', width:150, toolbar:'#bar'}
                ]]
            })
        }
        form.on('submit(find)', function () {
            var content = $('#content').val();
            var teacherId = $('#teacher_list').val();
            showList(content, teacherId)
        })
    });
    function choice(id) {
        $.ajax({
            url:'/student/getToken',
            type:'GET',
            dataType:'json',
            success:function (data) {
                if (data.success) {
                    $.ajax({
                        url:'/student/select/' + data.data,
                        type:'POST',
                        dataType:'json',
                        data:{
                            titleId:id
                        },
                        success:function (data) {
                            if (data.success) {
                                layer.open({
                                    title:'选题结果',
                                    content:'恭喜你，选题成功！'
                                });
                                $('#'+id).addClass('disabled')
                            } else {
                                layer.open({
                                    title:'选题结果',
                                    content:data.message
                                })
                            }
                        }
                    })
                } else if (data.data !== null){
                    layer.open({
                        title:'温馨提示',
                        content:data.message
                    });
                } else {
                    layer.open({
                        title:'温馨提示',
                        content:data.message
                    });
                }
            },
            error:function () {
                layer.msg('操作失败',{
                    time:800
                })
            }
        })
    }
    $.get('/student/teacherList',function (data) {
        var list = $('#teacher_list');
        list.empty();
        list.append('<option value="">选择教师名称</option>');
        for (var i in data) {
            var node = '<option value="'+data[i].id+'">'+data[i].name+'</option>';
            list.append(node);
        }
    })
</script>
</html>