<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../static/js/jquery-1.10.2.min.js"></script>
    <link href="../../../static/layui/css/layui.css" rel="stylesheet">
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>文件上传记录</legend>
</fieldset>
<table class="layui-table" lay-data="{id:'table', url:'/student/fileRecord'}" lay-filter="timer">
    <thead>
    <tr>
        <th lay-data="{field:'type',align:'center', width:300}">文件类型</th>
        <th lay-data="{field:'name',align:'center'}">文件名</th>
        <th lay-data="{field:'createTime',align:'center', width:350}">上传时间</th>
        <th lay-data="{fixed: 'right', width:178, align:'center', toolbar: '#operation'}">操作</th>
    </tr>
    </thead>
</table>
<script type="text/html" id="operation">
    <a class="layui-btn layui-btn-xs" lay-event="download">下载文件</a>
</script>
</body>
<script src="../../../static/layui/layui.js"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;
        table.render();
        table.on('tool(title)', function (obj) {
            var data = obj.data;
            if (obj.event === 'agree') {
                layer.confirm('确定同意该用户的审核吗', function(index){
                    $.post('/examine/examineUser', {ids: data.id, status: 1}, function (data) {
                        if (data.success) {
                            layer.msg('已通过审核');
                            obj.del();
                            layer.close(index);
                        }
                    });
                });
            }
        });
    })
</script>
</html>