<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="../../../static/layui/css/layui.css" rel="stylesheet">
    <script src="../../../static/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>我的论文成绩</legend>
</fieldset>
<div style="margin-left: 5%">
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item" style="width: 50%">
            <label class="layui-form-label">分数：</label>
            <div class="layui-input-block">
                <input type="text" name="title" class="layui-input" value="${paper.score}" disabled>
            </div>
        </div>
        <div class="layui-form-item" style="width: 50%">
            <label class="layui-form-label">等级：</label>

                    <div id="score" style="padding-left: 10px"></div>

        </div>
        <div class="layui-form-item layui-form-text" style="width: 50%">
            <label class="layui-form-label">教师评价：</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" disabled>&nbsp;&nbsp;&nbsp;&nbsp;${paper.content}</textarea>
            </div>
        </div>
    </form>
</div>
<script src="../../../static/layui/layui.js"></script>
<script>
    layui.use(['form','rate'], function () {
        var form = layui.form;
        var rate = layui.rate;
        var value = Math.ceil(${paper.score/10});
        console.log(value);
        //只读
        rate.render({
            elem: '#score'
            ,value: value
            ,theme: '#009688'
            ,half: true
            ,length: 10
            ,readonly: true
        });
    });
    function init(value) {

    }
</script>
</body>
</html>