<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
    <link href="../../static/layui/css/layui.css" rel="stylesheet">
    <link href="../../static/css/login.css" rel="stylesheet"/>
    <script src="../../static/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<div class="cont">
    <div class="demo">
        <div class="login">
            <div class="login__check"></div>
            <div class="login__form">
                <form class="layui-form" action="/login" id="form">
                    <div class="login__row">
                        <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8"></path>
                        </svg>
                        <input type="text" id="id" name="id" class="login__input name" placeholder="请输入你的学号或者工号"/>
                    </div>
                    <div class="login__row">
                        <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
                            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0"></path>
                        </svg>
                        <input type="password" id="pwd" name="password" class="login__input pass" placeholder="密码"/>
                    </div>
                    <div class="layui-form-item">
                            <input type="radio" name="type" value="student" title="学生" checked="">
                            <input type="radio" name="type" value="teacher" title="教师">
                            <input type="radio" name="type" value="admin" title="管理员">
                    </div>
                    <div class="layui-form-item">
                        <button type="button" class="login__submit" id="sub">登 录</button>
                        <p class="login__signup">还没有账户？ &nbsp;<a href="/registry">注册</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../../static/layui/layui.js"></script>
<script>
    layui.use(['form','layer'], function () {
        var form = layui.form;
        var layer = layui.layer;
        $('#sub').on('click', function () {
            $.ajax({
                url:'/loginCheck',
                type:'POST',
                data:{
                    id:$('#id').val(),
                    password:$('#pwd').val(),
                    type:$('input[name="type"]:checked').val()
                },
                dataType:'json',
                success:function (data) {
                    if (data.success) {
                        $('#form').submit()
                    } else {
                        layer.open({
                            title: '提示'
                            ,anim:6
                            ,content: data.message
                        });
                    }
                },
                error:function () {
                    layer.open({
                        title: '提示'
                        ,anim:6
                        ,content: data.message
                    });
                }
            })
        });
    });
</script>
</body>
</html>