<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看答辩分组情况</title>
    <link href="../../../static/layui/css/layui.css" rel="stylesheet">
    <script src="../../../static/js/jquery-1.10.2.min.js"></script>
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>查看答辩分组情况</legend>
</fieldset>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" class="layui-btn layui-btn-lg" value="生成答辩分组">
<table class="layui-table" lay-data="{url:'',page:true}" lay-filter="title" style="width: 80%">
    <thead>
    <tr>
        <th lay-data="{field: 'number', align:'center',width:150}" >答辩场次</th>
        <th lay-data="{field: 'teacherName', align:'center',width:1000}">答辩老师</th>
        <th lay-data="{field: 'studentName', align:'center', templet:'<div>{{d.departmentName}}</div>'}">学生</th>
    </tr>
    </thead>
</table>
<script src="../../../static/layui/layui.js"></script>
<script>
    layui.use('table', function () {
        var table = layui.table;
    })
</script>
</body>
</html>