<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cchl.dao.MajorMapper">
  <resultMap id="major" type="com.cchl.entity.Major">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="department_id" javaType="INTEGER" property="departmentId"/>
  </resultMap>
  <insert id="insert" parameterType="com.cchl.entity.Major">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into major (id, name)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="major">
    select id, name
    from major
  </select>
  <select id="selectByDepartmentId" resultType="com.cchl.entity.Major">
      SELECT id, name, department_id FROM major WHERE department_id = #{departmentId}
  </select>
</mapper>