<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cchl.dao.TitleMapper">
    <resultMap id="title" type="com.cchl.entity.Title">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="instruction" jdbcType="VARCHAR" property="instruction"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="total_number" property="totalNumber"/>
        <result column="has_select" property="hasSelect"/>
        <association property="department" resultMap="com.cchl.dao.DepartmentMapper.department"
                     columnPrefix="department_"/>
        <association property="teacher" resultMap="com.cchl.dao.TeacherMapper.teacher"
                     columnPrefix="teacher_"/>
    </resultMap>
    <insert id="insert" parameterType="com.cchl.entity.Title">
        INSERT INTO title (content, instruction, status, total_number, department_id, teacher_id)
            VALUE (#{content}, #{instruction}, #{status}, #{totalNumber}, #{departmentId}, #{teacherId})
    </insert>
    <select id="selectAll" resultMap="title">
        SELECT
            id,
            content,
            instruction,
            status,
            create_time
        FROM title
    </select>
    <select id="totalNumber" resultType="java.lang.Integer">
        SELECT count(id) FROM title
        WHERE department_id = #{departmentId}
        <if test="!all">
            AND status = #{status}
        </if>
    </select>
    <select id="selectByStatus" resultMap="title">
        SELECT
        t.id,
        content,
        instruction,
        create_time,
        total_number,
        has_select,
        t.department_id,
        d.id      department_id,
        d.name    department_name,
        tea.id    teacher_id,
        tea.name  teacher_name,
        tea.phone teacher_phone,
        tea.sex   teacher_sex,
        tea.email teacher_email
        FROM title t
        LEFT JOIN department d ON t.department_id = d.id
        LEFT JOIN teacher tea ON t.teacher_id = tea.id
        WHERE t.department_id = #{departmentId}
        <if test="!all">
            AND status = #{status}
        </if>
        ORDER BY t.id DESC
        LIMIT #{page}, #{limit}
    </select>
    <update id="updateStatus">
        UPDATE title
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <update id="updateTotal">
        UPDATE title
        SET has_select = has_select + 1
        WHERE id = #{titleId} AND total_number - has_select > 0
    </update>
    <select id="selectUnFull" resultMap="title">
        SELECT
            t.id,
            content,
            instruction,
            create_time,
            has_select,
            total_number,
            d.id   department_id,
            d.name department_name,
            tea.id teacher_id,
            tea.name teacher_name
        FROM title t
            LEFT JOIN department d ON t.department_id = d.id
            LEFT JOIN teacher tea ON t.teacher_id = tea.id
        WHERE t.has_select <![CDATA[ < ]]> t.total_number
              AND t.status = 1 AND d.id = #{departmentId}
        ORDER BY department_id
    </select>
    <select id="selectWithParam" resultMap="title">
        SELECT
            t.id,
            t.content,
            t.instruction,
            t.total_number,
            t.has_select,
            t.teacher_id,
            tea.id teacher_id,
            tea.name teacher_name,
            tea.phone teacher_phone,
            tea.sex teacher_sex
        FROM title t
            LEFT JOIN teacher tea ON t.teacher_id = tea.id
        WHERE t.department_id = #{departmentId} AND status = 2
              <if test="content!=null and content != ''">
                  AND t.content LIKE concat('%', #{content}, '%')
              </if>
              <if test="teacherId > 0">
                  AND t.teacher_id = #{teacherId}
              </if>
        LIMIT #{page},#{limit}
    </select>
    <select id="totalOfTitle" resultType="java.lang.Integer">
        SELECT count(id)
        FROM title
        WHERE department_id = #{departmentId} AND status = 1
        <if test="content!=null and content != ''">
            AND content LIKE concat('%', #{content}, '%')
        </if>
        <if test="teacherId > 0">
            AND teacher_id = #{teacherId}
        </if>
    </select>
    <select id="selectByPaperPlanId" resultMap="title">
        SELECT
            t.id,
            t.content,
            t.instruction,
            t.total_number,
            t.has_select,
            t.teacher_id,
            tea.id teacher_id,
            tea.name teacher_name,
            tea.phone teacher_phone,
            tea.email teacher_email,
            tea.sex teacher_sex
        FROM title t
            LEFT JOIN teacher tea ON t.teacher_id = tea.id
        WHERE t.id = (SELECT paper_plan.title_id FROM paper_plan WHERE paper_plan.id = #{paperPlanId})
    </select>
    <select id="selectByTeacherId" resultType="com.cchl.entity.Title">
        SELECT * FROM title WHERE teacher_id = #{teacherId} ORDER BY id DESC
    </select>
    <delete id="deleteTitle">
        DELETE FROM title WHERE teacher_id = #{teacherId} AND id = #{id}
    </delete>
</mapper>