<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cchl.dao.TitleMapper">
    <resultMap id="title" type="com.cchl.entity.Title">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="instruction" jdbcType="VARCHAR" property="instruction"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="total_number" property="totalNumber"/>
        <result column="has_select" property="hasSelect"/>
        <association property="department" resultMap="com.cchl.dao.DepartmentMapper.department"
                     columnPrefix="department_"/>
    </resultMap>
    <insert id="insert" parameterType="com.cchl.entity.Title">
        INSERT INTO title (content, instruction, status, total_number, department_id)
            VALUE (#{content}, #{instruction}, #{status}, #{totalNumber}, #{department.id})
    </insert>
    <select id="selectAll" resultMap="title">
        SELECT
            id,
            content,
            instruction,
            status,
            create_time
        FROM title
    </select>
    <select id="totalNumber" resultType="java.lang.Integer">
        SELECT count(id) FROM title
        <if test="all">
            WHERE status = #{status}
        </if>
    </select>
    <select id="selectUnaudited" resultType="com.cchl.entity.Title">
        SELECT
            id,
            content,
            instruction,
            create_time
        FROM title
        WHERE status = 0
    </select>
    <update id="updateStatus">
        UPDATE title
        SET status = #{status}
        WHERE id = #{id}
    </update>
    <update id="updateTotal">
        UPDATE title
        SET has_select = has_select + 1
        WHERE id = #{titleId} AND total_number - has_select > 0
    </update>
    <select id="selectUnFull" resultMap="title">
        SELECT
            t.id,
            content,
            instruction,
            create_time,
            has_select,
            total_number,
            d.id department_id,
            d.name department_name
        FROM title t, department d
        WHERE t.has_select <![CDATA[ < ]]> t.total_number
            AND t.status = 1 AND d.id = t.department_id
        ORDER BY department_id
    </select>
</mapper>