<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cchl.dao.UserMapper">
    <resultMap id="user" type="com.cchl.entity.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <association property="student" column="{id = student_id}" select="com.cchl.dao.StudentMapper.selectById"/>
        <association property="teacher" column="{id = teacher_id}" select="com.cchl.dao.TeacherMapper.selectById"/>
    </resultMap>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (status, type) VALUE (#{status}, #{type})
    </insert>
    <select id="totalNumber" resultType="java.lang.Integer">
        SELECT ((SELECT count(u.id)
        FROM teacher t, user u
        WHERE t.department_id = #{departmentId}
        AND u.id = t.user_id
        <if test="!all">
            AND u.status = #{status}
        </if>
        )
        + (SELECT count(u.id)
        FROM student s, user u
        WHERE s.department_id = #{departmentId}
        AND u.id = s.user_id
        <if test="!all">
            AND u.status = #{status}
        </if>
        ))
        AS id;
    </select>
    <select id="selectUnaudited" resultMap="user">
        SELECT u.id, u.status, u.type, u.create_time,
               s.id student_id,
               t.id teacher_id
        FROM user u
        LEFT JOIN student s ON u.id = s.user_id
        LEFT JOIN teacher t ON u.id = t.user_id
        WHERE status = #{type} AND (t.department_id = #{departmentId} OR s.department_id = #{departmentId})
        LIMIT #{limit},#{number}
    </select>

    <update id="updateStatus">
        UPDATE user SET status = #{status} WHERE id = #{id}
    </update>
</mapper>