<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cchl.dao.UserPaperMapper">
    <resultMap id="userPaper" type="com.cchl.entity.UserPaper">
        <id property="id" column="id"/>
        <association property="user" columnPrefix="user_"
                     resultMap="mapper.UserMapper.user"/>
        <association property="paperPlan" columnPrefix="paper_plan_"
                     resultMap="mapper.PaperPlanMapper.paper_plan"/>
    </resultMap>
    <insert id="insert" parameterType="com.cchl.entity.UserPaper">
        INSERT INTO user_paper(user_id, paper_plan_id)
            VALUE (#{userId}, #{paperPlanId})
        <selectKey keyColumn="id" keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <select id="selectByUserId" resultType="java.lang.Integer">
        SELECT paper_plan_id
        FROM user_paper
        WHERE user_id = #{userId}
        LIMIT 0, 1
    </select>
</mapper>