<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cchl.dao.WeeksPlanMapper">
    <resultMap id="weeks_plan" type="com.cchl.entity.WeeksPlan">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="file_path" jdbcType="VARCHAR" property="filePath"/>
        <result column="paper_plan_id" jdbcType="INTEGER" property="paperPlanId"/>
    </resultMap>
    <insert id="insert" parameterType="com.cchl.entity.WeeksPlan">
        insert into weeks_plan (file_path, paper_plan_id)
        values (#{filePath,jdbcType=VARCHAR}, #{paperPlanId,jdbcType=INTEGER})
    </insert>
    <select id="selectAll" resultMap="weeks_plan">
        SELECT
            id,
            file_path,
            paper_plan_id
        FROM weeks_plan
    </select>
    <select id="isExist" resultType="java.lang.Integer">
        SELECT count(id)
        FROM weeks_plan
        WHERE paper_plan_id = #{paperId}
    </select>
    <update id="updateFilePath">
        UPDATE weeks_plan SET file_path = #{filePath} WHERE paper_plan_id = #{paperId}
    </update>
</mapper>